{% extends "index.html" %}
{% block content %}

<body>
    <form action="/post" method="post">
        <h5>What's on your mind? Create a new post:</h5>
        <div>
            <textarea name="content" style="font-family:sans-serif;font-size:1.2em;">
    Hey... say something!
    </textarea>
        </div>
        <input type="hidden" name="user_id" value="'{{session.id}}">
        <input type="submit" value="Publish">
    </form>

    <h3>All Community Posts</h3>
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <div class="post-author">{{ post.user.first_name }} {{ post.user.last_name }}</div>
                <div class="post-date">{{ post.created_at.strftime('%b %d, %Y') }}</div>
            </div>
            <div class="post-body">{{ post.content }}</div>
            {% if post.user.id == session.id %}
            <a  href="/post/delete/{{post.id}}">Delete</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <form action="/logout">
        <input type="submit" value="logout">
    </form>
    {% endblock %}